__pycache__/

example_data/
example_results/

scripts/Ymaze_simulation/TrainEval_open_loop.py

scripts/MuJoCo_analyses/
scripts/MuJoCo_helpers/

notebook_mujoco/

notebooks/Open_loop.ipynb
notebooks/test.ipynb
notebooks/With_diagonal.ipynb

example_results/closed_loop_with_diagonal/
example_results/open_loop/